---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/ExperienceSection.astro";
---

<Layout title="My-portfolio">
  <main>
    <Hero />
    <Skills />
    <Experience />
  </main>
</Layout>
