<section
  id="home"
  class="min-h-[70vh] flex flex-col-reverse gap-12 pt-9 mx-auto md:flex-row max-w-screen-xl p-6 lg:pl-[5%]"
>
  <div class="mt-6 md:mt-0 md:w-3/5 lg:w-1/2 flex flex-col justify-center">
    <div>
      <h2 class="text-5xl font-bold">Jose Manuel Osorio</h2>
      <h1 class="text-2xl font-medium">FullStack Developer</h1>
    </div>

    <div>
      <p class="mt-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum
        dignissimos fuga accusantium illum veritatis magni tempora autem
        incidunt architecto minima quos optio commodi enim, est, inventore
        ducimus, vitae repellat rem sit. Illo, ex. Tenetur veniam, ipsum
        recusandae repellendus vero accusantium!
      </p>
    </div>

    <div class="mt-8 space-x-6">
      <a
        href="#"
        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 text-white hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        <span
          class="relative w-[130px] text-center px-5 py-2.5 transition-all ease-in duration-75 bg-[#1B1B1B] rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent"
        >
          Let's Connect
        </span>
      </a>

      <a
        href="#"
        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 text-white hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300"
      >
        <span
          class="relative text-center w-[130px] px-5 py-2.5 transition-all ease-in duration-75 bg-[#1B1B1B] rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent"
        >
          Resume
        </span>
      </a>
    </div>
  </div>

  <div class="md:w-2/5 lg:w-1/2 flex items-center justify-center">
    <div
      class="rounded-full bg-white h-64 lg:h-[370px] w-64 lg:w-[370px] mx-auto"
    >
    </div>
  </div>
</section>
